.fleft
    position relative
    float left

.rel
    position relative !important
    margin-bottom sqr-s !important

    &:last-child
        margin-bottom 0px

.inline
    display inline-block
    vertical-align top
    margin-right sqr


.fill
    size(100%, 100%)

.no-spaces
    border none
    margin 0px
    padding 0px

.block
    display block
    position absolute
    overflow hidden
