@font-face
    font-family Ubuntu
    src url(resources-root + 'fonts/ubuntu-r.ttf')

@font-face
    font-family Ubuntu
    src url(resources-root + 'fonts/ubuntu-ri.ttf')
    font-style italic

@font-face
    font-family Ubuntu
    src url(resources-root + 'fonts/ubuntu-b.ttf')
    font-weight bold

@font-face
    font-family Ubuntu
    src url(resources-root + 'fonts/ubuntu-bi.ttf')
    font-style italic
    font-weight bold

@font-face
    font-family Ubuntu
    src url(resources-root + 'fonts/ubuntu-l.ttf')
    font-weight 100

@font-face
    font-family Ubuntu
    src url(resources-root + 'fonts/ubuntu-li.ttf')
    font-style italic
    font-weight 100

@font-face
    font-family UbuntuMono
    src url(resources-root + 'fonts/ubuntumono-r.ttf')

@font-face
    font-family UbuntuMono
    src url(resources-root + 'fonts/ubuntumono-ri.ttf')
    font-style italic

@font-face
    font-family UbuntuMono
    src url(resources-root + 'fonts/ubuntumono-b.ttf')
    font-weight bold

@font-face
    font-family UbuntuMono
    src url(resources-root + 'fonts/ubuntumono-bi.ttf')
    font-style italic
    font-weight bold
