include node_modules/hf-module/jade/hoarfrost

+window(winTitle, winButtons, winTabs)
    +win-menu Menu
    +win-page.active Basic
    +win-page Menus
    +win-page Containers
    +win-page Toolbars
    +win-page Markup